.stage-items
  display: block
  position: relative
  overflow: auto

  .stage-item-single
    width: 33%
    display: inline-block
    box-sizing: border-box
    .stage-no
      font-size: 18px
      line-height: 26px
      background: #E5E5E5
      color: #262626
      padding: 0 6px
      display: inline-block
      font-weight: 400
    .stage-thumbnail
      padding: 0 10px 0 26px
      img
        box-shadow: 0 5px 9px rgba(16, 16, 16, 0.5)

    .stage-progress
      justify-content: center
      margin: 20px auto 10px
      text-align: center
      .stage-desc
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        .stage-perc
          font-size: 28px
          line-height: 28px
          color: #E5E5E5
          margin: auto auto 2px
        .stage-perc-desc
          font-size: 16px
          line-height: 20px
          color: #E5E5E5
      img
        width: auto !important
        min-width: 136px
