@font-face {
  font-family: 'Raleway';
  font-style: regular;
  font-weight: 400;
  src: url('Raleway-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Raleway';
  font-style: regular;
  font-weight: 600;
  src: url('Raleway-SemiBold.otf') format('opentype');
}

@font-face {
  font-family: 'Raleway';
  font-style: regular;
  font-weight: 700;
  src: url('Raleway-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Raleway';
  font-style: regular;
  font-weight: 900;
  src: url('Raleway-Black.otf') format('opentype');
}

@font-face {
  font-family: 'Bebas Neue';
  font-style: regular;
  font-weight: 400;
  src: url('BebasNeue-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Glacial Indifference';
  font-style: regular;
  font-weight: 400;
  src: url('GlacialIndifference-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Glacial Indifference';
  font-style: italic;
  font-weight: 400;
  src: url('GlacialIndifference-Italic.otf') format('opentype');
}

@font-face {
  font-family: 'Glacial Indifference';
  font-style: regular;
  font-weight: 700;
  src: url('GlacialIndifference-Bold.otf') format('opentype');
}
