@function colwidth($w)
	$result: $w / 12
	@return $result

$columns: 12
@mixin col
	@for $i from 1 through $columns
		.col#{$i}
			width: percentage(colwidth($i))

@mixin col-offset
	@for $i from 1 through $columns
		.col-offset#{$i}
			margin-left: percentage(colwidth($i))

.container
	display: block
	position: relative
	width: 95%
	max-width: 1300px
	margin: auto
	.row
		display: block
		overflow: hidden
		justify-content: center
		&.row-center
			display: flex
			align-items: center
			overflow: hidden
		&.row-bottom
			display: flex
			align-items: flex-end
			overflow: hidden
		div[class^="col"]
			display: block
			float: left
			padding: 0 15px
		@include col
		@include col-offset
