.lvl-inventory
  font-size: 0
  display: block
  overflow: visible
  text-align: center
  position: relative
  .inventory-item-single
    padding: 10px
    margin: 0 10px 20px
    display: inline-block
    width: calc(33.33% - 22px)
    border-top: 1px solid #E5E5E5
    border-bottom: 1px solid #E5E5E5
    transition: all .3s ease
    vertical-align: top
    &:hover
      padding: 0
    .ii-name
      display: none
      position: absolute
      left: 0
      width: 100%
      font-size: 18px
      line-height: 26px
      text-align: center
      z-index: 1
      padding: 0 10px
      color: #262626
