@import ../_colors

.button
	text-align: center
	background-color: #7AE99D
	color: $black26
	font-family: 'Bebas Neue'
	font-size: 34px
	padding: 0 45px
	line-height: 54px
	display: inline-block
	margin: 30px 0 30px
	border: 0
	outline: none
