.carousel
	.owl-stage-outer
		width: 70%
		margin: auto
	.owl-item .carousel-item-single
		display: flex
		margin: 0
		max-width: 889px
		width: 70%
		.carousel-count
			font-size: 42px
			line-height: 50px
			margin-right: 80px
			overflow: visible
			display: flex
			align-items: center
			&::after
				content: ''
				background-image: url('/src/assets/images/bracket.png')
				background-repeat: no-repeat
				background-size: contain
				background-position: center
				position: absolute
				left: 100%
				top: 50%
				height: 100%
				width: 80px
				transform: translateY(-50%)
		.carousel-desc
			.carousel-head
				font-size: 30px
				line-height: 36px
				padding: 0 3px
				background: #FFF
				color: #262626
				display: inline-block
				margin: 0
			.carousel-text
				font-size: 16px
				line-height: 20px
				margin: 8px 0px
	.owl-nav
		.owl-prev, .owl-next
			position: absolute
			top: 0
			outline: none
			height: calc(100% - 44px)
			width: 18px
			margin: 0 !important
			pointer-events: all
			background-color: transparent!important
			background-position: center!important
			background-size: contain!important
			background-repeat: no-repeat!important
			&:hover
				background-color: transparent!important
		.owl-prev
			left: 10%
			background-image: url('/src/assets/images/leftArrow.png') !important
		.owl-next
			right: 10%
			background-image: url('/src/assets/images/rightArrow.png') !important
		.owl-prev span, .owl-next span
			visibility: hidden
	&.owl-theme .owl-nav
		position: absolute
		width: 100%
		top: 0
		height: 100%
		pointer-events: none
		margin-top: 0
	.owl-dots
		margin: 20px 0
	&.owl-theme .owl-dots .owl-dot
		&:hover span, &.active span
			background: #6FD5DC
