@import ../_colors

footer
  border-top: 1px solid $whiteE5
  padding-top: 30px
  padding-bottom: 50px
  ul.footer-socials
    padding: 0
    margin: 0 auto 20px
    list-style: none
    li
      display: inline-block
      padding: 0 10px
      a img
        height: 28px
        width: 28px
  ul.footer-nav
    margin: 0
    padding: 0
    list-style: none
    .footer-navhead
      color: $darkGreen
      font-size: 16px
      line-height: 20px
      font-weight: 400
      font-family: 'Raleway'
      margin-bottom: 5px
    li a
      font-size: 12px
      line-height: 14px
      font-weight: 400
      font-family: 'Raleway'
      color: $whiteE5
  .footer-logo
    height: 50px
    width: 130px
