@import ../_colors

header
  .header-container
    display: flex
    align-items: center
    justify-content: center
    > div
      display: inline-block
  .header-left, .header-right
    min-width: 35%
  .header-left
    text-align: right
  div.header-logo
    padding: 0 30px 10px
    img
      height: 50px
      width: auto
  ul.navbar-nav
    margin: auto
    padding: 0
    list-style: none
    li.navbar-item
      display: inline-block
      padding: 60px 32px
      text-align: center
      a.navbar-link
        text-transform: uppercase
        font-size: 16px
        line-height: 20px
        color: $whiteE5
        font-family: 'Glacial Indifference'
        font-weight: 400
        &::after
          content: ''
          display: block
          width: 0%
          height: 2px
          background: #FFFFFF
          transition: all .5s ease-out
      &:hover a.navbar-link::after
        width: 100%
