.stage-progress
  justify-content: center
  margin: 20px auto 10px
  text-align: center

.stage-desc
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

.stage-perc
  font-size: 28px
  line-height: 28px
  color: #E5E5E5
  margin: auto auto 2px

.stage-perc-desc
  font-size: 16px
  line-height: 20px
  color: #E5E5E5

.stage-progress img
  width: auto !important
  min-width: 136px


.stroke
  fill: none
  stroke: #e5e5e5
  stroke-width: 5px
  stroke-dasharray: 377
  stroke-dashoffset: 377
  transform: rotateZ(-90deg)
  transform-origin: center

.stroke-bg
  fill: none
  stroke: #1A1A1A
  stroke-width: 4.9px
