@import "~video-react/styles/scss/video-react";

body,
.page-wrapper {
    background: #262626;
    font-family: 'Raleway';
    font-weight: 400;
}


* {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.flex-end {
  align-items: flex-end;
}
/*-----------------------------------------------------------
    #TYPOGRAPHY
-----------------------------------------------------------*/
p {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 12px;
}
p.small {
	font-size: 18px;
	line-height: 22px;
}
p u {
	text-decoration: none;
	padding-bottom: 5px;
	border-bottom: 3px solid #E5E5E5;
}
a {
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p, div, a {
    color: #FFFFFF;
}
img {
  width: 100%;
}
.text-right { text-align: right; }
.text-center { text-align: center; }
h2.section-title {
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 54px;
  line-height: 64px;
  letter-spacing: .02em;
  text-transform: uppercase;
  margin: 0 0 .6em;
}
h2.section-title span {
  display: inline-block;
  background-color: #6fd5dc;
  color: #262626;
  font-weight: 600;
  line-height: 60px;
  padding: 0 10px;
}
h2.section-title span.white-bg {
  background-color: #FFFFFF;
}
h3 {
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: .02em;
  text-transform: uppercase;
  margin: 0 0 .5em;
}
h3 span {
  display: inline-block;
  background-color: #E5E5E5;
  color: #262626;
  font-weight: 600;
  line-height: 54px;
  padding: 0 10px;
}
h3 span.blue-bg {
	background-color: #6fd5dc;
}
.no-margin {
	margin: 0;
}
.pd5p {
  padding: 5% !important;
}
.pd30 {
  padding: 30px;
}

/*-----------------------------------------------------------
    #Goals
-----------------------------------------------------------*/
.goal-selector {
	text-align: center;
}
.goal-selector .goal-single {
	width: 150px;
	display: inline-block;
	line-height: 50px;
	font-size: 30px;
	color: #333;
	background: #E5E5E5;
	margin: 0 30px 30px;
}

.goals-count {
	text-align: center;
	padding: 10px 6px;
}
.goals-count p {
	font-size: 16px;
	line-height: 20px;
	margin: 0;
}
.goals-count span {
	font-weight: 900;
	background-color: #E5E5E5;
	color: #262626;
	display: inline-block;
	padding: 0 3px;
}


#HomeSlider {
  text-align: center;
  padding: 100px 0 50px;
}
#HomeSlider h1.slider-text {
  text-align: center;
  font-weight: 400;
  font-size: 52px;
  line-height: 58px;
  color: #E5E5E5;
}

#HomeSlider h1.slider-text span {
  background-color: #6fd5dc;
  color: #262626;
  padding: 0 10px;
  font-weight: 700;
  line-height: 1em;
  display: inline-block;
}
#HomeSlider .button.slider-btn {
  font-size: 68px;
  padding: 0 35px;
  line-height: 68px;
  margin: 0;
}

#AchievingGoals,
#Audience {
  padding: 100px 0 100px;
}
#TrainingVideo {
  padding: 50px 0 300px;
}
#VideoPlayer {
    padding: 140px 0 0;
}
#Comments {
    padding: 0 0 100px;
}


p .number-big {
	font-size: 44px;
	line-height: 52px;
	font-weight: 900;
	display: inline-block;
}







.conference-price {
  font-size: 58px;
  font-weight: 600;
  color: #7AE99D;
}




/*--------------------------------------------------
#Video Player
--------------------------------------------------*/
.video-player-outer-wrapper {
	margin: 0 auto 50px;
	display: block;
  overflow: auto;
}
.video-player-wrapper {
	margin: 0 auto 16px;
	display: block;
  overflow: auto;
}
.video-list-item {
  padding: 13px;
	display: flex;
	align-items: center;
	cursor: pointer;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.video-list-item > div {
  pointer-events: none;
}

.video-list-item.current {
  box-shadow: 0 -2px 8px rgba(16, 16, 16, .32);
}
.video-player {
  width: 75%;
  float: left;
}
.video-list {
  width: 25%;
  float: left;
}

.video-list-item.watched .video-list-status span { background: #7FE69D; }
.video-list-item.current .video-list-status span { background: #FE0003; }
.video-list-item .video-list-status span { background: #E5E5E5; }
.video-list-status span {
  height: 14px;
  width: 14px;
  border-radius: 14px;
  display: block;
}

.video-list-status {
  width: 14px;
  margin-right: 10px;
}
.video-list-stage {
  font-size: 10px;
  line-height: 12px;
}

span.video-list-stage-no {
  display: inline-block;
  margin-right: 10px;
}

.video-list-info {
  text-transform: uppercase;
}

.video-list-item:not(.current) .video-list-info {
  opacity: .5;
}

.video-list-level,
.video-list-title {
  font-size: 14px;
  line-height: 16px;
}
.video-list-level {
  font-weight: 900;
  margin: 5px 0;
}
.video-list-item.current .video-list-level,
.video-list-item.current .video-list-title {
	color: #6FD5DC;
}
.video-progress-bar {
	width: 100%;
  height: 7px;
  background: #1A1A1A;
	margin-bottom: 8px;
}
.video-progress-bar span {
  height: 7px;
	display: block;
	background: #E5E5E5;
}
.video-progress-text {
    font-size: 18px;
    line-height: 22px;
    color: #E5E5E5;
}
/*--------------------------------------------------
    #COMMENT FORM INPUT
--------------------------------------------------*/

form#CommentForm textarea#comment-input {
  width: 100%;
  resize: none;
  background: transparent;
  border: 1px solid #E5E5E5;
	outline: none;
  padding: 10px 13px;
  font-size: 30px;
  line-height: 36px;
	margin: 0 0 30px;
}



/*--------------------------------------------------
    #COMMENTS
--------------------------------------------------*/
.comment-avatar {
  width: 56px;
  height: 56px;
  display: inline-block;
  margin-right: 10px;
}

.comment-meta-desc {
  display: inline-block;
  overflow: auto;
}

.comment-username {
  font-size: 24px;
  line-height: 30px;
}

.comment-time {
  font-size: 16px;
  line-height: 20px;
}

.comment-content p {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
}

.comment-meta-info {
  margin-bottom: 10px;
}

.comment-single {
  margin-bottom: 15px;
}

.read-more-btn {
  margin: 15px 0;
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
  text-decoration: underline;
  display: inline-block;
}



.video-react .video-react-big-play-button {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 3em;
  height: 3em;
  width: 3em;
  border-radius: 3em !important;
  background: rgba(255, 255, 255, 0.52) !important;
  border: 0px !important;
}
.video-react .video-react-big-play-button::before {
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  color: #FFF;
}

section#YourGoals .row > .col4 {
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    margin-bottom: 20px;
}

section#YourGoals .row > .col4:nth-child(5) {
    border: 1px solid #FFF;
}
