form
  &#EditProfileForm
    margin-bottom: 16px
    max-width: 500px
    overflow: auto
    display: block
    position: relative
    margin: auto
  &.center-form
    text-align: center

  .input-file
    width: 256px
    height: 256px
    max-width: 100%
    margin: 10px auto 30px
    padding: 0px
    border-radius: 100%
    overflow: hidden
    background: #262626
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, .3)
    cursor: pointer
    img
      width: 100%
      height: auto
    input
      display: none
  .input-header
    font-weight: 700
  .input-group
    margin: auto auto 10px
    font-size: 0
    label
      font-size: 18px
      line-height: 22px
      display: block
      text-align: left
      margin: 5px 0
    input
      font-size: 18px
      width: 100%
      height: 60px
      line-height: 60px
      background: transparent
      border: 1px solid #E5E5E5
      padding: 0 20px
      color: #E5E5E5
      outline: none
      &[type="number"]
        &::-webkit-outer-spin-button, &::-webkit-inner-spin-button
          -webkit-appearance: none
          -moz-appearance: none
          text-overflow: ''
          text-indent: 1px
          margin: 0
    select
      font-size: 18px
      width: 100%
      height: 60px
      line-height: 60px
      background: transparent
      border: 1px solid #E5E5E5
      padding: 0 20px
      color: #E5E5E5
      outline: none
      -webkit-appearance: none
      -moz-appearance: none
      text-overflow: ''
      text-indent: 1px
      margin: 0
    option
      background: #262626
    select
      display: inline-block
      &#fi_dob_dd, &#fi_dob_mm
        width: 25%
        margin-right: 5%
      &#fi_dob_yyyy
        width: 40%
        display: inline-block
    input[type="submit"]
      font-size: 54px
      font-family: 'Bebas Neue'
      height: 62px
      line-height: 62px
      border: none
      color: #262626
      cursor: pointer
  .submit-edit input[value="EDIT"]
    background: #FF0000
  .submit-save input[value="SAVE"]
    background: #7CEC9F
