.input-field,
.input-field:hover,
.input-field:focus,
.input-field:active
	border: 1.25px solid #E5E5E5
	color: #E5E5E5
	padding: 10px 10px
	margin: 0 10px
	background: transparent
	outline: none
	font-size: 20px
	line-height: 22px
	:placeholder
		color: #E5E5E5
.form-response
	font-size: 14px
	color: #E5E5E5
	margin: 10px 0
	&.form-success
		font-size: 30px
		font-weight: 400
