.stage-unlocks
  display: block
  position: relative
  overflow: auto
  text-align: center
  .unlock-single-item
    width: 190px
    display: inline-block
    padding: 10px
    margin: 0 40px 20px
    border-top: 1px solid #E5E5E5
    border-bottom: 1px solid #E5E5E5

.ul-name
  position: absolute
  left: 0
  width: 100%
  font-size: 18px
  line-height: 26px
  text-align: center
  display: block
  z-index: 1
  padding: 0 10px
  color: #262626

.unlock-single-item
  &.locked
    opacity: .5
  &.unlocked
    opacity: 1
    &::after
      content: none
  &.locked::after
    content: url(/src/assets/images/lock.png)
    z-index: 2
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    text-align: center
    justify-content: center
    width: 50%
